@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?1646008');
  src: url('../font/fontello.eot?1646008#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?1646008') format('woff2'),
       url('../font/fontello.woff?1646008') format('woff'),
       url('../font/fontello.ttf?1646008') format('truetype'),
       url('../font/fontello.svg?1646008#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?1646008#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-water-craft:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\e803'; } /* '' */
.icon-arrow-down:before { content: '\e804'; } /* '' */
.icon-atv-utv:before { content: '\e805'; } /* '' */
.icon-auto:before { content: '\e806'; } /* '' */
.icon-boat:before { content: '\e807'; } /* '' */
.icon-email:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-heart-shape-icon:before { content: '\e80a'; } /* '' */
.icon-instagram:before { content: '\e80b'; } /* '' */
.icon-iphone:before { content: '\e80c'; } /* '' */
.icon-messenger:before { content: '\e80d'; } /* '' */
.icon-motobike:before { content: '\e80e'; } /* '' */
.icon-rv:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-snow-mobile:before { content: '\e811'; } /* '' */
.icon-auto-car:before { content: '\e812'; } /* '' */
.icon-motorcycle:before { content: '\e813'; } /* '' */
.icon-rv-buss:before { content: '\e814'; } /* '' */
.icon-snow-mobile-1:before { content: '\e815'; } /* '' */
.icon-water-boat:before { content: '\e816'; } /* '' */
.icon-water-craft-1:before { content: '\e817'; } /* '' */
.icon-atv-utv-bike:before { content: '\e818'; } /* '' */
.icon-price-badge:before { content: '\e819'; } /* '' */
.icon-list:before { content: '\e81a'; } /* '' */
.icon-grid:before { content: '\e81b'; } /* '' */
.icon-chat-icon:before { content: '\e81c'; } /* '' */
.icon-maps-and-flags:before { content: '\e81d'; } /* '' */
.icon-car-icon:before { content: '\e81e'; } /* '' */
.icon-cog-double-icon:before { content: '\e81f'; } /* '' */
.icon-profilelink-icon:before { content: '\e820'; } /* '' */
.icon-phone-call:before { content: '\e821'; } /* '' */
.icon-ad-calendar:before { content: '\e822'; } /* '' */
.icon-user-icon:before { content: '\e823'; } /* '' */
.icon-bx-camera-icon:before { content: '\e824'; } /* '' */
.icon-do-list-icon:before { content: '\e825'; } /* '' */
.icon-eye-view:before { content: '\e826'; } /* '' */
.icon-message-chat:before { content: '\e827'; } /* '' */
.icon-form-edit:before { content: '\e828'; } /* '' */
.icon-delete-trash:before { content: '\e829'; } /* '' */
.icon-icon-plus:before { content: '\e82a'; } /* '' */
.icon-emoji:before { content: '\e82b'; } /* '' */
.icon-file-attech:before { content: '\e82c'; } /* '' */
.icon-upload-cloud:before { content: '\e82d'; } /* '' */
.icon-email-1:before { content: '\e82e'; } /* '' */
.icon-pass-icon:before { content: '\e82f'; } /* '' */
.icon-subtract-icon:before { content: '\e830'; } /* '' */
.icon-close-square-icon:before { content: '\e831'; } /* '' */
.icon-help-icon:before { content: '\e832'; } /* '' */