/* @font-face {
  font-family: "basis_grotesque_proregular";
  src: url("../fonts/basisgrotesquepro-regular-webfont.woff2") format("woff2"),
    url("../fonts/basisgrotesquepro-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "basis_grotesque_prolight";
  src: url("../fonts/basisgrotesquepro-light-webfont.woff2") format("woff2"),
    url("../fonts/basisgrotesquepro-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "basis_grotesque_probold";
  src: url("../fonts/basisgrotesquepro-bold-webfont.woff2") format("woff2"),
    url("../fonts/basisgrotesquepro-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "freightdispproblauploadedfile";
  src: url("../fonts/freightdisp_pro_black-webfont.woff2") format("woff2"),
    url("../fonts/freightdisp_pro_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BasisGrotesquePro-Medium";
  src: url("../fonts/BasisGrotesquePro-Medium.woff") format("woff"),
    url("../fonts/BasisGrotesquePro-Medium.woff2") format("woff2"),
    url("../fonts/BasisGrotesquePro-Medium.svg#BasisGrotesquePro-Medium")
      format("svg"),
    url("../fonts/BasisGrotesquePro-Medium.eot"),
    url("../fonts/BasisGrotesquePro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BasisGrotesquePro-Medium.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
/* @font-face {
  font-family: "BasisGrotesquePro-Black";
  src: url("../fonts/BasisGrotesquePro-Black.woff") format("woff"),
    url("../fonts/BasisGrotesquePro-Black.woff2") format("woff2"),
    url("../fonts/BasisGrotesquePro-Black.svg#BasisGrotesquePro-Black")
      format("svg"),
    url("../fonts/BasisGrotesquePro-Black.eot"),
    url("../fonts/BasisGrotesquePro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/BasisGrotesquePro-Black.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */


/* //heading-tags// */
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin-bottom: 1rem;
  font-family: "BasisGrotesquePro-Black", sans-serif;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -2px;
  color: #53356F;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}


/* //end-heading-tags// */


/* personal_loan_landing_Page buttons */
.ft__btn {
  display: inline-block;
  font-family: "BasisGrotesquePro-Bold", sans-serif;
  font-size: 22px;
  color: #ffffff;
  background: #FB5100;
  border: 2px solid #FB5100;
  padding: 19px 50px 19px 25px;
  font-weight: 500;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-width: 300px;
  text-align: center;
  position: relative;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__btn {
    font-size: 18px;
    padding: 16px 40px 16px 25px;
    min-width: 250px;
  }
}
.ft__btn .icon__arrow {
  width: 27px;
  height: 27px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 32px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ft__btn .icon__arrow img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
.ft__btn:hover {
  color: #ffffff;
  background: #53356F;
  border: 2px solid #53356F;
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  .ft__hiddenMobile {
    display: none;
  }
}

/* personal_loan_landing_Page buttons */
.per__wrapper {
  padding: 121px 161px 82px;
}
@media screen and (max-width: 1600px) {
  .per__wrapper {
    padding: 121px 100px 82px;
  }
}
@media screen and (max-width: 1280px) {
  .per__wrapper {
    padding: 80px 60px 60px;
  }
}
@media screen and (max-width: 991px) {
  .per__wrapper {
    padding: 40px 30px;
  }
}
.per__wrapper .per__wrapperdetails {
  padding: 21px 0;
}
@media screen and (max-width: 991px) {
  .per__wrapper .per__wrapperdetails {
    padding-top: 10px;
  }
}
.per__wrapper .per__wrapperdetails h1 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #53356F;
  margin-bottom: 27px;
}
@media screen and (max-width: 1280px) {
  .per__wrapper .per__wrapperdetails h1 {
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 991px) {
  .per__wrapper .per__wrapperdetails h1 {
    font-size: 33px;
    line-height: 33px;
  }
}
.per__wrapper .per__wrapperdetails h4 {
  font-size: 29px;
  line-height: 42px;
  color: #5A687C;
  font-family: "BasisGrotesquePro-Medium";
  margin-bottom: 23px;
  font-weight: 500;
  letter-spacing: 0;
  padding-left: 2px;
}
@media screen and (max-width: 991px) {
  .per__wrapper .per__wrapperdetails h4 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 25px;
  }
}
.per__wrapper .per__wrapperdetails p {
  font-size: 20px;
  line-height: 25px;
  color: #8d97a7;
  padding: 0 85px 0 4px;
  letter-spacing: 0px;
  margin-bottom: 31px;
}
@media screen and (max-width: 991px) {
  .per__wrapper .per__wrapperdetails p {
    font-size: 15px;
    line-height: 22px;
    padding: 0;
    margin-bottom: 40px;
  }
}
.per__wrapper .per__wrapperdetails .ft__btnWrapper {
  margin-bottom: 22px;
}
@media screen and (max-width: 991px) {
  .per__wrapper .per__wrapperdetails .ft__btnWrapper .ft__btn {
    width: 100%;
  }
}
.per__wrapper .per__wrapperdetails .ft__bannerLogoWrap {
  max-width: 251px;
}
@media screen and (max-width: 991px) {
  .per__wrapper .per__wrapperdetails .ft__bannerLogoWrap {
    margin: 0 auto;
  }
}
.per__wrapper .per__wrapperdetails .ft__bannerLogoWrap img {
  width: 100%;
  height: auto;
}
.per__wrapper .ft__infoBannerInfographWrap {
  text-align: right;
}
.per__wrapper .ft__infoBannerInfographWrap img {
  width: 625px;
  height: auto;
  position: relative;
  top: -14px;
}
@media screen and (max-width: 1600px) {
  .per__wrapper .ft__infoBannerInfographWrap img {
    width: 550px;
  }
}
@media screen and (max-width: 1280px) {
  .per__wrapper .ft__infoBannerInfographWrap img {
    width: 440px;
  }
}
@media screen and (max-width: 991px) {
  .per__wrapper .ft__infoBannerInfographWrap img {
    width: 100%;
  }
}

.ft__introSectionWrapper {
  padding: 103px 121px 59px;
  background: #FFF7F3;
}
@media screen and (max-width: 1600px) {
  .ft__introSectionWrapper {
    padding: 150px 50px 140px;
  }
}
@media screen and (max-width: 1440px) {
  .ft__introSectionWrapper {
    padding: 100px 50px;
  }
}
@media screen and (max-width: 1280px) {
  .ft__introSectionWrapper {
    padding: 70px 30px;
  }
}
.ft__introSectionWrapper .section__header {
  margin-bottom: 77px;
}
@media screen and (max-width: 991px) {
  .ft__introSectionWrapper .section__header {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .ft__introSectionWrapper .section__header {
    margin-bottom: 30px;
  }
}
.ft__introSectionWrapper .section__header h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  letter-spacing: -0.03em;
  color: #53356F;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 991px) {
  .ft__introSectionWrapper .section__header h2 {
    font-size: 33px;
    line-height: 42px;
  }
}
@media screen and (max-width: 767px) {
  .ft__introSectionWrapper .section__header h2 {
    line-height: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__introSectionWrapper .ft__introMockupGrid {
    max-width: 47%;
    flex: 0 0 47%;
    padding: 0;
  }
}
.ft__introSectionWrapper .ft__introMockupWrap {
  padding: 10px 15px 10px 15px;
  text-align: right;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__introSectionWrapper .ft__introMockupWrap {
    padding-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .ft__introSectionWrapper .ft__introMockupWrap {
    padding: 0 0 30px;
  }
}
.ft__introSectionWrapper .ft__introMockupWrap img {
  width: 675px;
  height: auto;
  max-width: 100%;
}
@media screen and (max-width: 991px) {
  .ft__introSectionWrapper .ft__introMockupWrap img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__introSectionWrapper .ft__introDescGrid {
    max-width: 53%;
    flex: 0 0 53%;
  }
}
.ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap {
  padding: 37px 145px 0 22px;
  margin-bottom: 50px;
}
@media screen and (max-width: 1600px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap {
    padding: 0 80px 0 22px;
  }
}
@media screen and (max-width: 1140px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap {
    padding: 0 40px 0 22px;
  }
}
@media screen and (max-width: 1280px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap {
    padding: 0 30px 0 22px;
  }
}
@media screen and (max-width: 991px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap {
    padding: 0;
    margin: 0;
  }
}
.ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul {
  padding: 0;
  margin: 0 0 82px;
}
@media screen and (max-width: 1280px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul {
    margin: 0 0 50px;
  }
}
@media screen and (max-width: 1280px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul {
    margin: 0 0 30px;
  }
}
.ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li {
  list-style: none;
  margin-bottom: 36px;
}
@media screen and (max-width: 1280px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 991px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li {
    margin-bottom: 20px;
  }
}
.ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li h3 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 900;
  letter-spacing: -0.8px;
  color: #53356F;
  margin-bottom: 0;
}
@media screen and (max-width: 1280px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li h3 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }
}
@media screen and (max-width: 991px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li h3 {
    font-size: 22px;
    line-height: 30px;
  }
}
.ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #424242;
  letter-spacing: 0;
  margin: 0;
}
@media screen and (max-width: 1280px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (max-width: 991px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap ul li p {
    font-size: 15px;
    line-height: 23px;
  }
}
.ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap .ft__btnWrapper {
  position: relative;
  left: -4px;
}
@media screen and (max-width: 767px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap .ft__btnWrapper {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .ft__introSectionWrapper .ft__introDescGrid .ft__introDescWrap .ft__btnWrapper .ft__btn {
    width: 100%;
  }
}

.ft__perloanWrapper {
  padding: 80px 0 190px;
  overflow: hidden;
}
@media screen and (max-width: 1600px) {
  .ft__perloanWrapper {
    padding: 112px 0 150px;
  }
}
@media screen and (max-width: 1440px) {
  .ft__perloanWrapper {
    padding: 100px 0;
  }
}
@media screen and (max-width: 1280px) {
  .ft__perloanWrapper {
    padding: 50px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__perloanWrapper {
    padding: 60px 15px;
  }
}
@media screen and (max-width: 767px) {
  .ft__perloanWrapper {
    padding: 60px 15px;
  }
}
@media screen and (min-width: 1100px) {
  .ft__perloanWrapper > .container {
    max-width: 1115px;
  }
}
.ft__perloanWrapper .ft__sectionHeader {
  text-align: center;
  margin-bottom: 102px;
}
@media screen and (max-width: 1440px) {
  .ft__perloanWrapper .ft__sectionHeader {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .ft__perloanWrapper .ft__sectionHeader {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__perloanWrapper .ft__sectionHeader {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 767px) {
  .ft__perloanWrapper .ft__sectionHeader {
    margin-bottom: 100px;
  }
}
.ft__perloanWrapper .ft__sectionHeader h2 {
  color: #53356F;
  letter-spacing: -1px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__perloanWrapper .ft__sectionHeader h2 {
    font-size: 33px;
    line-height: 36px;
    padding: 0 8%;
  }
}
@media screen and (max-width: 767px) {
  .ft__perloanWrapper .ft__sectionHeader h2 {
    font-size: 33px;
    line-height: 36px;
  }
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper {
  position: relative;
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper .dots__imageTopWrap {
  position: absolute;
  top: -68px;
  right: -78px;
  z-index: 1;
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper .dots__imageBottomWrap {
  position: absolute;
  bottom: -47px;
  left: -60px;
  z-index: 1;
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner {
  position: relative;
  z-index: 2;
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap {
  padding: 0 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap {
    padding: 0 15px;
    margin-bottom: 30px;
  }
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid {
  font-size: 14px;
  padding: 54px 30px 46px;
  -webkit-box-shadow: 0px 0px 18px rgba(108, 126, 147, 0.15);
  -moz-box-shadow: 0px 0px 18px rgba(108, 126, 147, 0.15);
  -o-box-shadow: 0px 0px 18px rgba(108, 126, 147, 0.15);
  box-shadow: 0px 0px 18pxrgba 108, 126, 147, 0.15;
  background: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid {
    padding: 40px 30px 36px;
  }
}
@media screen and (max-width: 767px) {
  .ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid {
    padding: 44px 44px 30px 44px;
  }
}
@media screen and (max-width: 427px) {
  .ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid {
    padding: 35px;
  }
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid .ft__featureGridIcon {
  width: 75px;
  height: auto;
  margin: 0 auto 32px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid .ft__featureGridIcon {
    margin: 0 auto 25px;
  }
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid .ft__featureGridIcon img {
  width: 100%;
  height: auto;
}
.ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid h3 {
  font-size: 18px;
  line-height: 23px;
  letter-spacing: -0.5px;
  color: #3F2355;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #3F2355;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 767px) {
  .ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid h3 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 427px) {
  .ft__perloanWrapper .ft__loanFeaturesListWrapper .ft__loanFeaturesListInner .ft__featureGridWrap .ft__featureGrid h3 {
    font-size: 20px;
    line-height: 24px;
  }
}

.ft__whyChooseUsWrapper {
  background: #FFECE4;
}
.ft__whyChooseUsWrapper .ft__whyChooseUsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .ft__whyChooseUsWrapper .ft__whyChooseUsRow {
    position: relative;
    overflow: hidden;
  }
}
.ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid {
  width: 100%;
}
.ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid.ft__whyChooseUsMainGridLarge {
  max-width: calc(100% - 690px);
  padding: 125px 90px 152px 197px;
}
@media screen and (max-width: 1600px) {
  .ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid.ft__whyChooseUsMainGridLarge {
    max-width: calc(100% - 540px);
    padding: 100px 50px 98px 100px;
  }
}
@media screen and (max-width: 1154px) {
  .ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid.ft__whyChooseUsMainGridLarge {
    padding: 70px 40px 80px 50px;
  }
}
@media screen and (max-width: 1024px) {
  .ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid.ft__whyChooseUsMainGridLarge {
    max-width: 100%;
    position: relative;
    z-index: 1;
    background: rgba(255, 236, 228, 0.9);
  }
}
@media screen and (max-width: 767px) {
  .ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid.ft__whyChooseUsMainGridLarge {
    padding: 50px 30px 60px;
  }
}
.ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid.ft__whyChooseUsMainGridSmall {
  max-width: 690px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media screen and (max-width: 1600px) {
  .ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid.ft__whyChooseUsMainGridSmall {
    max-width: 540px;
  }
}
@media screen and (max-width: 1024px) {
  .ft__whyChooseUsWrapper .ft__whyChooseUsRow .ft__whyChooseUsMainGrid.ft__whyChooseUsMainGridSmall {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    background-position: top center;
    top: 2px;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader {
  margin-bottom: 68px;
}
@media screen and (max-width: 1024px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 767px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader {
    margin-bottom: 30px;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader h2 {
  color: #53356f;
  letter-spacing: -1px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1091px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader h2 {
    font-size: 34px;
    line-height: 44px;
  }
}
@media screen and (max-width: 1091px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader h2 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (max-width: 1024px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader h2 {
    margin-bottom: 18px;
  }
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader h2 br {
    content: "";
  }
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader h2 br:after {
    content: " ";
  }
}
@media screen and (max-width: 991px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader h2 {
    font-size: 36px;
    line-height: 46px;
  }
}
@media screen and (max-width: 767px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader h2 {
    font-size: 30px;
    line-height: 36px;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
  letter-spacing: 0;
}
@media screen and (max-width: 1024px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader p {
    font-size: 16px;
    line-height: 24px;
  }
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader p br {
    content: "";
  }
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader p br:after {
    content: " ";
  }
}
@media screen and (max-width: 991px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader p {
    font-size: 18px;
    line-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__loanIntakeHeader p {
    font-size: 16px;
    line-height: 24px;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 69px;
}
@media screen and (max-width: 1154px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper {
    margin-left: -15px;
    margin-right: -15px;
  }
}
@media screen and (max-width: 767px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper {
    margin-bottom: 30px;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li {
  width: 100%;
  max-width: 385px;
  padding: 0 20px;
}
@media screen and (max-width: 1706px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li {
    max-width: 50%;
  }
}
@media screen and (max-width: 1154px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li {
    padding: 0 15px;
  }
}
@media screen and (max-width: 767px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap {
  padding: 46px;
  background: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}
@media screen and (max-width: 1297px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap {
    padding: 30px 15px;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap .count {
  font-size: 84px;
  line-height: 84px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #FB5100;
  margin-bottom: 6px;
}
@media screen and (max-width: 1297px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap .count {
    font-size: 80px;
    line-height: 80px;
  }
}
@media screen and (max-width: 1084px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap .count {
    font-size: 75px;
    line-height: 75px;
  }
}
@media screen and (max-width: 1059px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap .count {
    font-size: 70px;
    line-height: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap .count {
    font-size: 55px;
    line-height: 55px;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap .desc {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: #000000;
}
@media screen and (max-width: 1297px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap .desc {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1084px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .financial__gridsWrapper li .financial__factsWrap .desc {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap .ft__btnWrapper .ft__btn {
    width: 100%;
  }
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap.ft__loanIntakeStepsMainWrapAlt {
  padding: 0 0 0 35px;
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap.ft__loanIntakeStepsMainWrapAlt .ft__loanIntakeStepsWrap {
  margin-bottom: 0;
}
.ft__whyChooseUsWrapper .ft__loanIntakeStepsMainWrap.ft__loanIntakeStepsMainWrapAlt .ft__loanIntakeStepsWrap li p {
  padding-right: 33px;
}
.ft__whyChooseUsWrapper .ft__whyChooseUsImageWrap img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1170px;
}


